/* This is just an example.  You shouldn't do this. */
.alipi-arrowbox
{
    padding: 0px 0px 0px 0px;
    margin: 150px 0px 0px 0px;
    height: 10px;
    /* width: 130px; */
    float:left;
}
#down
{
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 5px;
    width: 0px;
    float:right;
    background-image:url('down.png');
}

#up
{
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    height: 5px;
    /* width: 0px; */
    float:left;
    background-image:url('up.png');
}

#lab
{
    margin: 10px 0px 10px 0px;
}
