/* This is just an example.  You shouldn't do this. */
.alipi-arrowbox
{
    padding: 0px 0px 0px 0px;
    margin: 150px 0px 0px 0px;
    height: 10px;
     width: 330px; 
    float:left;
}
#down
{
    padding: 0px 10px 0px 0px;
    margin: 0px 10px 0px 0px;
    height: 5px;
    width: 0px;
    float:right;
    background-image:url('right.png');
}

#up
{
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 10px;
    height: 5px;
    /* width: 0px; */
    float:left;
    background-image:url('left.png');
}

#lab
{
    margin: 15px 10px 0px 10px;
}
